.nav-bar {
  //background-color: white;
  @extend .black-text;
  height: 97px;
  border: white thin;
}

.expensify-nav {
  margin-left: 304px;
  margin-right: 304px;
  line-height: 100px;
}

.active {
  font-weight: bold;
}